// Utilities
@import 'susy';
@import '_config';
@import '_variables';
@import '_mixins';
@import '_layout';

// Components
@import 'servo';

.main-container {
    background-color: $color-white-1;
    padding: 30px;
}

.control-container {
    @include container;

    &__title {
        text-align: center;
    }

    &__content {
        background-color: $color-white;
        padding: 10px 50px;
        box-sizing: border-box;

        &__title {
            text-align: center;
        }
    }
}

.camera {
    &__content {
        text-align: center;
    }
}
